.env
node_modules
dist
build

frontend/.next/*

coverage
.vscode
.idea
*.pyc
*.pyo   
__pycache__/
*.pyd
*.pyz
*.egg-info
*.egg
*.whl
*.dist-info
*.log
*.pid
*.seed
*.cache
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
*.solin

*.xlsx
*.docx
*.pptx
*.odt
*.ods
*.odp
*.csv
*.tsv
*.rst
*.tex
*.html
*.htm
*.xml
*.cfg
*.log
*.log.*
*.out
*.err